[manifest]
version = "1.0.0"
dump_lua = true
priority = -1
[[patches]]
[patches.pattern]
target = "functions/UI_definitions.lua"
pattern = "args.ref_value = args.ref_value or 'test'"
match_indent = true
position = "after"
payload = """args.info_scale = args.info_scale or 0.25
args.id = args.id or nil"""
[[patches]]
[patches.pattern]
target = "functions/UI_definitions.lua"
pattern = "{n=G.UIT.T, config={text = v, scale = 0.25, colour = G.C.UI.TEXT_LIGHT}}"
match_indent = true
position = "at"
payload = "{n=G.UIT.T, config={text = v, id=args.id, scale = args.info_scale, colour = G.C.UI.TEXT_LIGHT}}"
# uhh?
# this one kinda helps a little bit with errors i think.
# oh wait this is what's getting rid of the checkmark isnt it
# cause its trying to set the role if its an object
[[patches]]
[patches.pattern]
target="engine/ui.lua"
pattern="self.config.object:set_role(self.config.role or {role_type = 'Minor', major = self, xy_bond = 'Strong', wh_bond = 'Weak', scale_bond = 'Weak'})"
match_indent = true
position="at"
payload="if self.config.object then self.config.object:set_role(self.config.role or {role_type = 'Minor', major = self, xy_bond = 'Strong', wh_bond = 'Weak', scale_bond = 'Weak'}) end"
[[patches]]
[patches.pattern]
target = "engine/ui.lua"
pattern = "function UIElement:set_alignments()"
match_indent = true
position = "at"
payload = """function UIElement:set_alignments()
    for k, v in pairs(self.children) do
        if v.parent ~= nil then
        _w, _h = v.parent:set_wh()
        if v.T and not v.T.h then
            v.T.h = _h or 2
        end
        if v.T and not v.T.w then
            v.T.w = _w or 2
        end
        end
    end"""
# added a change function argument to create_tabs
[[patches]]
[patches.pattern]
target="functions/UI_definitions.lua"
pattern = "tab_buttons[#tab_buttons+1] = UIBox_button({id = 'tab_but_'..(v.label or ''), ref_table = v, button = 'change_tab', label = {v.label}, minh = 0.8*args.scale, minw = 2.5*args.scale, col = true, choice = true, scale = args.text_scale, chosen = v.chosen, func = v.func, colour = args.colour, focus_args = {type = 'none'}})"
match_indent = true
position = "at"
payload = "tab_buttons[#tab_buttons+1] = UIBox_button({id = 'tab_but_'..(v.label or ''), ref_table = v, button = args.change_func or 'change_tab', label = {v.label}, minh = 0.8*args.scale, minw = 2.5*args.scale, col = true, choice = true, scale = args.text_scale, chosen = v.chosen, func = v.func, colour = args.colour, focus_args = {type = 'none'}})"
# adds an id argument to the toggle
[[patches]]
[patches.pattern]
target = "functions/UI_definitions.lua"
pattern = "button = 'toggle_button', button_dist = 0.2, hover = true, toggle_callback = args.callback, func = 'toggle', focus_args = {funnel_to = true}}, nodes={"
match_indent = true
position = "at"
payload = "button = 'toggle_button', button_dist = 0.2, hover = true, toggle_callback = args.callback, func = 'toggle', focus_args = {funnel_to = true}}, id = args.id or nil, nodes={"
# Adds info scale to everything i think?
# taken from my other mod :P
[[patches]]
[patches.pattern]
target = "functions/UI_definitions.lua"
pattern = "args.ref_value = args.ref_value or 'test'"
match_indent = true
position = "after"
payload = "args.info_scale = args.info_scale or 0.25"
[[patches]]
[patches.pattern]
target = "functions/UI_definitions.lua"
pattern = "{n=G.UIT.T, config={text = v, scale = 0.25, colour = G.C.UI.TEXT_LIGHT}}"
match_indent = true
position = "at"
payload = "{n=G.UIT.T, config={text = v, scale = args.info_scale, colour = G.C.UI.TEXT_LIGHT}}"